.dashboard__table {
    width: 100vw;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.5);
  }
  
  .dashboard__table th,.dashboard_table td
   {
    /* border: 1px solid black; */
    padding: 8px;
    
    text-align: center;
  }

  
  .dashboard__table th {
    background-color: #66BFBF;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
  }
  
  .dashboard__table td:first-child {
    border-left: none;
  }
  
  .dashboard__table td:last-child {
    border-right: none;
  }
  .dashboard__table {
    width: 100vw;
    border-collapse: collapse;
    text-align: center;
    

  }
  
  .dashboard__table th,.dashboard__table td
   {
    /* border: 1px solid black; */
    padding: 8px;
   
    text-align: center;
  }

/*   
  .dashboard_table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
  } */
  
  .dashboard__table td:first-child {
    border-left: none;
  }
  
  .dashboard__table td:last-child {
    border-right: none;
  }
  .filter__container{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    
}
  .filter__button{
    display: flex;
    width: 4rem;
    height: 1rem;
    border: none;
    float: right;
    margin-right: 5rem;
    background-color: transparent;

  }
  .filter__icon{
    color:#66BFBF ;
    font-size: 2rem;
  }
  .filter__dropdown {
  margin-right: 2rem;
  background-color: #fff;
  border: 4px solid #cecbcb;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Add a higher z-index to make sure it appears above the table */
  width: 15rem;
  text-align: left;
    cursor: pointer;
  }
  .main-filter{
    text-align: left;
    background-color: #eaf9f8;
    padding: 1rem;
  }
  .subfilter {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .subfilter.selected {
    background-color: #91c4c4; 
    color: #000000;
  }
  
  .subfilter:hover {
   background-color: #c1e6e6;
  }